/* src/app.css */
:root {
    /* Define your colors here. Always start the name with two dashes '--' */
    --color-primary: #3e8be2;
	--color-secondary: #0e4b91;
    --color-background: #a7cadf;
    --color-surface: #242424;
    --color-text: #ffffff;
    --color-text-muted: #aaaaaa;
}

/* You can also apply them globally right here */
body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    font-family: Arial, sans-serif;
}